// Layout variables partial

$section-padding: 120px 0;

section.intro, section.background, section.sign-up {
	background: $section-light;
}
section.background, section.blog-intro, section.blog {
	background: $section-dark;
}